.koc-university-logo {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add any other specific styles for Koç University Logo */
}

/* Styling for Another University Logo */
.kuis-ai-logo {
    width: 152px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add any other specific styles for Another University Logo */
}

/* Styling for Another University Logo */
.rml-logo {
    width: 370px; /* Adjust the width as needed */
    height: 150px; /* Maintain aspect ratio */
    /* Add any other specific styles for Another University Logo */
}

/* Styling for Another University Logo */
.itu-logo {
    width: 500px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add any other specific styles for Another University Logo */
}

.itu-container {
    display: flex; /* Use flexbox to control alignment */
    justify-content: center; /* Align items horizontally to the left */
}

.itu-container img {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain aspect ratio */
}

/* Styling for Another University Logo */
.pid-image {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add any other specific styles for Another University Logo */
}

/* Styling for Another University Logo */
.robust-pid-image {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add any other specific styles for Another University Logo */
}

/* Styling for Another University Logo */
.phri-image {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add any other specific styles for Another University Logo */
    display: block; /* Ensures the image behaves as a block-level element */
    margin: 0 auto; /* Centers the image horizontally */
}

.image {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    /* Add any other styles you need */
}

.image img {
    display: inline-block; /* Display the images as inline-block elements */
    vertical-align: middle; /* Align the images vertically in the middle */
}

.logos-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.logos-container .image {
    margin-right: 20px; /* Adjust spacing between images */
}

.education-details {
    margin-top: 10px; /* Add spacing between logos and details */
}


.image-container {
    display: flex; /* Use flexbox to put the images side by side */
    justify-content: center; /* Align items vertically in the center */
}

.image-container a {
    display: inline-block; /* Make the anchor elements inline-block */
    margin: 0 5px; /* Add some margin around the images */
}

.image-container img {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain aspect ratio */
}

